header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }

div {
  border: solid 2px black;
}

.logo {
  color: MediumAquamarine;
  margin-left: 25px;
  }

.navigation {
  color: black;
  margin-left: 900px;
 }

#link {
  margin-left: 10px;
  color: black;
 }

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    font-family: Georgia;
    font-size: 17px;
    color: black;
  }

 .large {
    display: flex;
    flex-direction: row;
    width: 630px;
    flex-wrap: wrap;
    margin-right: 10px;
  }

 .monument {
      width: 630px;
    }

  .header1 {
      display: flex;
      align-items: center;
      background-image: url("../images/main.PNG"); width: 629; height: 300;
      max-width: 629px;
      min-height: 300px;
      padding-left: 20px;
    }

 #mother {
      display: flex;
      font-family: Georgia;
      font-weight: bold;
      font-size: 40px;
      color: white;
    }

.autumn {
    width: 310px;
  }

.header2 {
      display: flex;
      align-items: center;
      background-image: url("../images/autumn.PNG"); width: 299; height: 300;
      max-width: 299px;
      min-height: 300px;
      margin: 5px;
    }

#earth {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: auto;
  flex-wrap: wrap;
  width: 400px;
  text-align: center;
  }

.camera {
width: 310px;
  }

.header3 {
      display: flex;
      justify-content: center;
      background-image: url("../images/camera.PNG"); width: 299; height: 300;
      max-width: 299px;
      min-height: 300px;
      margin: 5px;
    }

.medium {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      margin-right: 10px
    }

.header4{
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../images/cat.PNG"); width: 299; height: 300;
      min-width: 299px;
      min-height: 300px;
    }

.small {
      width: 240px;
      display:flex;
      flex-direction: column;
      margin-right: 10px
    }

.bites {
      text-align: center;
      flex: auto;
    }

#emoji {
      margin: auto;
      width: 240px;
      height: 40px;
      flex-flow: column;
      background-color: WhiteSmoke;
      font-family: Verdana;
      font-size: 12px;
      color: DimGray;
      border-bottom: solid 1px black;
    }

  .footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 300px;

  }

  #mytimes{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  }
.navigation1 {
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 12px;
  }
  .last {
  

  }
